{% extends 'layouts/a.html' %}
{% block content %}
{% load static %}

<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Checkouts</h4>
                <h6>Manage Material Checkouts</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">	
                <div class="card-body">
                    <a href="javascript: void(0);" class="btn btn-adds" data-bs-toggle="modal" data-bs-target="#lend"><i class="fa fa-plus me-2"></i>Lend</a>
                </div>
            </div>
            <div class="col-md-4">	
                <div class="card-body">
                    <a href="javascript: void(0);" class="btn btn-adds" data-bs-toggle="modal" data-bs-target="#reserve"><i class="fa fa-plus me-2"></i>Reserve</a>
                </div>
            </div>
            <div class="col-md-4">	
                <div class="card-body">
                    <a href="javascript: void(0);" class="btn btn-adds" data-bs-toggle="modal" data-bs-target="#recieve"><i class="fa fa-plus me-2"></i>Receive</a>
                </div>
            </div>
        </div>
    
        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="{% static 'img/icons/search-white.svg' %}" alt="img"></a>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table  datanew">
                        <thead>
                            <tr>
                                <th>Copy</th>
                                <th>Patron</th>
                                <th>Checkout Date</th>
                                <th>Due Date</th>
                                <th>Returned Date</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}